@model DevConfSkopje.Web.Models.Conference.ConferenceRegistrationViewModel
@using CaptchaMvc.HtmlHelpers

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    <div class="col col--12-of-12">
        <div class="formbackgroud">
            <h3 class="">Please fill in the form to reserve your place at DevCon Skopje 2019:</h3>
            @*<input type="text" name="_gotcha" style="display:none">*@
            @using (Html.BeginForm("ConferenceRegistration", "DevConf", null, FormMethod.Post, new { @id = "contactform", @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-secondary" })

                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label " })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "First Name", @placeholder = "First Name*" })<br />
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-secondary", @style = "font-weight:bold" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "last Name", @placeholder = "Last Name*" })<br />
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-secondary", @style = "font-weight:bold" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "mail", @placeholder = "Email*" })<br />
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-secondary", @style = "font-weight:bold" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "phone", @placeholder = "Phone" })<br />
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-secondary", @style = "font-weight:bold" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Captcha</label>
                    <div class="col-md-10">
                        @Html.Captcha(5)
                        <p class="text-secondary">@ViewBag.ErrorCaptcha</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="submit" type="submit" value="Send">Register</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

